<mat-toolbar color="primary">
    <mat-toolbar-row class="logo">
        <mat-icon>event_note</mat-icon>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <a routerLink="/scheduler" routerLinkActive="active">
            <mat-icon>view_list</mat-icon>
            <span>Grafik</span>
        </a>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <a routerLink="/employees" routerLinkActive="active">
            <mat-icon>group</mat-icon>
            <span>Pracownicy</span>
        </a>
    </mat-toolbar-row>
</mat-toolbar>